*{
    margin: 0px;

}
body {
    background-image: url(imgs/bg-image.jpg);
    background-size: cover;
}
#page {
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;

}

img {
    border-radius: 16px;
}
